<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr></tr>

      <button class="ui inverted red button" (click)="Add()">
        Add Post
      </button>

      <div class="ui right aligned category search">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="Search animals..." />
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>

      <tr>
        <th scope="col"></th>
        <th>ID</th>
        <th>Title</th>
        <th>Body</th>
        <th>Related</th>
        <th>Author</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Post of Posts | filter: search">
        <td>{{ Post.id }}</td>
        <td>{{ Post.title }}</td>
        <td>{{ Post.body }}</td>
        <td>{{ Post.related }}</td>
        <td>{{ Post.author }}</td>
        <td>{{ Post.author }}</td>
        <td>
          <div class="btn-group">
            <button
              id="btn"
              type="button"
              routerLink="/update/{{ Post.id }}"
              class="btn btn-secondary btn-space "
            >
              Update
            </button>
            <button
              id="btn"
              type="button"
              (click)="deleteDetails(Post.id)"
              class="btn btn-danger btn-space "
            >
              Delete
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
